@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --green-light : rgb(115, 190, 1);
  --black : #000000;
  --green-dark : #123E1E;
  --light-ash : #EFF3E9;
  --white : #ffffff;
  --nav-gap: 30px;
  --button-padding: 20px 30px;
  --font-family: 'Montserrat';
  --banner-opacity : 0.27;
  --line-height : 1.8rem;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
} 


html {
  font-size: 10px;
}

body {
  font-family:var(--font-family) ;
}

a {
  color: var(--white);
}

p {
  color: #303030;
}